* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%; 
  background-image: none;
  background-size: cover;
  background-color: rgb(72, 185, 101);
  font-family: 'Archivo Black', sans-serif;
}

#timer-area{
  z-index: 2;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#timer {
  font-size: 1500%;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  display: flex;
}

#buttons-area{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

button p{
  font-family: helvetica;
  font-size: 140%;
  white-space: nowrap;
  width: auto;
  
}

button{
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

button:hover{
  background-color: rgb(235, 235, 235);
  box-shadow: 3px 3px 5px 0px rgb(0,0,0,0.24);
}

#config{
  width: 98%;
  opacity: 70%;
  z-index: 3;
}

.config-btn{
  cursor: pointer;
  padding: 20px 10px 0 0;
  float: right;
  height: 30px;
  width: auto;
}

#mute{
  height: 100%;
  width: 100%;
}

#bg-btn-mob{
  display: none;
}

#shia{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: auto;
  height: 97%;
}

#shia-photo {
  position: relative;
  width: auto;
  height: 100%;
  z-index: 1;
}

.eyes{
  position: absolute;
  top: 15.2%;
  z-index: 0;
  border-radius: 50%;
  width: 5.5%;
  height: 1.8%;
  background-color: rgb(226, 216, 216)
}

#eye {
  right: 41.2%;
}

#eye2 {
  left: 41%;
}

.eyeballs{
  position: absolute;
  width: 40%;
  height: 60%;
  z-index: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px){
  #timer {
    font-size: 8.5em;
  }
}

@media only screen and (max-width: 500px) {
  body{
    background-size: cover;
    background-repeat: repeat-y;
  }
  #timer {
    font-size: 5em;
  }
  button{
    margin: 0 1.5%;
    padding: 2% 3%;
    cursor: pointer;
    border-radius: 5px;  
  }
  button p{
   font-size: 100%;
  }
  #bg-btn-mob{
    display: block;
  }
  #bg-btn{
    display: none;
  }
}


